.content {
  display: flex;
  align-items: center;
  background-color: #fafafa;
  padding: 20px 15px;
  margin: 0 10%;
}
.circle {
  width: 50px;
  min-height: 50px;
  border-radius: 100%;
  background-color: gray;
}
.date-content-container {
  display: flex;
  width: 70%;
  flex-direction: column;
}
.date-author {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  justify-content: space-between
  
}
.date-author span {
  color: rgb(172, 170, 170);
  display:flex;
  font-size: 12px;
}
.author {
  margin-right: 50px;
  text-overflow: ellipsis;
  width: 160px;
  font-size: 12px
}
.articleTitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.articleTitle {
  overflow: hidden;
  margin-left: 10px;
}
i {
  font-size:48px;
  margin-right: 7px;
  padding-top: 4px;
}
.fa-ellipsis-v {
  display: none;
}
.fa-bars {
  display: none
}
a {
  text-decoration: none !important;
  color: black;
}
.next {
  margin-left: 70px;
}


/* Navbar */
.nav-container {
  background-color: #47e4c2;
  width: 100%;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}
.nav-container {
  font-size: 25px;
  color:white;
}



/* Media Queries */
@media only screen and (max-width: 465px) {
  .fa-ellipsis-v {
    display: block;
  }
}
@media only screen and (max-width: 465px) {
  .fa-bars {
    display: block;
  }
}
@media only screen and (max-width: 575px) {
  .content {
    display: flex;
    align-items: center;
    background-color: #fafafa;
    padding: 20px 5px;
    margin: 0;
    }
}
@media only screen and (max-width: 465px) {
  .circle {
    width: 50px;
    min-height: 50px;
    border-radius: 50%;
    background-color: gray;
  }
}
@media only screen and (max-width: 400px) {
  .author {
    margin-right: 50px;
    text-overflow: ellipsis;
    width: 150px;
    font-size: 12px;
  }
}